<div class="body__container">
  <div class ="journal_index">
    <div class="date-group">
    <% @grouped_entries.each do |date, entries| %>
        <div class="journal-date">
          <div class="journal-day"><%= date.strftime("%d") %></div> <!-- 日 -->
          <div class=" journal-weekday"><%= date.strftime("%a") %></div> <!-- 曜日 -->
          <div class="journal-month-year"><%= date.strftime("%Y/%m") %></div> <!-- 年月 -->
        </div>
        <!-- タスク -->
          <% if entries[:tasks].any? %>
            <ul>
              <% entries[:tasks].each do |task| %>
                <div class="task-content">
                  <%= link_to task.title, task_path(task), class: "task-link" %>
                </div>
              <% end %>
            </ul>
          <% else %>
            <p>タスクはありません</p>
          <% end %>
        <!-- ジャーナル -->
          <% if entries[:journals].any? %>
            <ul>
              <% entries[:journals].each do |journal| %>
                <div class="journal-content">
                  <%= link_to journal.content, journal_path(journal), class: "journal-link" %>
                </div>
              <% end %>
            </ul>
          <% else %>
            <!-- <p>ジャーナルはありません</p>
            <div class="today-info">
              <h3>今日は何の日？</h3>
              <p><%= @today_info %></p>
            </div> -->
          <% end %>
    <% end %>
