<div class="task_edit">
  <%= form_with(model: @task, local: true) do |f| %>
    <div class="task_edit__form">
        <div class="edit_form__title">
          <%= f.text_field :title, placeholder: 'タスクを書こう', class: 'form_control__title', required: true, rows: 1, 
  cols: 82 %>
        </div>
        <div class="edit_form__description">
          <%= f.text_area :description, placeholder: 'タスクの詳細を書こう', class: 'form_control__description', rows: 6, 
  cols: 60 %>
        </div>
      <div class="edit_form__limits">
        <div class="edit_form__priority">
          <%= f.select :priority, Task.priorities.map { |key, _value| [Task.human_attribute_name("priority.#{key}"), key] }, {}, class: 'form_control__priority' %>
        </div>
        <div class="edit_form__due_date">
          <%= f.datetime_select :due_date, class: 'form_control__date' %> までのタスクが
        </div>
        <div class="edit_form__status">
          <%= f.select :status, Task.statuses.map { |key, _value| [Task.human_attribute_name("status.#{key}"), key] }, {}, class: 'form_control__status' %>です
        </div>
      </div>
    </div>
</div>
  <div class="task_edit__btn">
    <%= f.submit '次へ', class: 'btn_create' %>
  </div>
  <% end %>
</div>