<%= form_with(model: @task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :description, '説明' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :due_date, '締切日' %>
    <%= f.datetime_select :due_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :priority, '優先度' %>
    <%= f.select :priority, Task.priorities.keys.map { |p| [p.humanize, p] }, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status, '状態' %>
    <%= f.select :status, Task.statuses.keys.map { |s| [s.humanize, s] }, {}, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>