<!-- タスク詳細 -->
<div class="task_show__btn">
  <%= link_to '＜ 戻る', root_path, class: 'btn' %>
  <%= link_to '編集 ＞', edit_task_path(@task), class: 'btn' %>
</div>
<div class="task_show">
  <div class="task_show__title">
    <%= @task.title %>
  </div>
  <div class="task_show__description">
    <%= @task.description %>
  </div>
  <div class="task_show__due_date">
    <%= @task.due_date.strftime('%Y-%m-%d %H:%M') %> まで
  </div>
  <div class="task_show__priority">
    <%= @task.priority_in_japanese %>
  </div>
  <div class="task_show__status">
    <%= @task.status_in_japanese %>
  </div>
  <div style="task_show_moods">
    <% if @task.mood_option %>
      <%= @task.mood_option.labels.join(", ") %>
      <%= @task.mood_option.colors.join %>
    <% end %>
  </div>
</div>