<!-- Journal一覧 -->
<table>
<thead>
<tr>
  <div class='account-page' id='account-page'>
    <p>こんにちは、<%= link_to current_user.nickname, edit_user_registration_path(current_user) %> さん！</p>
  </div>
</tr>
</thead>
<tbody>
<% @journals.each do |journal| %>
  <div class="journal-entry">
    <p><%= journal.entry_date %></p>
    <p><%= journal.content %></p>
    <% if journal.mood_option %>
      <p>Feelings: <%= journal.mood_option.labels.join(", ") %></p>
      <div style="display: flex;">
        <% journal.mood_option.colors.each do |color| %>
          <div style="width: 20px; height: 20px; background-color: <%= color %>;"></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to '詳細', journal_path(journal) %>
<% end %>
</tbody>
</table>

<%= link_to '新規作成', new_journal_path %>