<!-- ジャーナル詳細 -->
<div class="journal_show__btn">
  <%= link_to '＜ 戻る', root_path, class: 'btn' %>
  <%= link_to '編集 ＞', edit_journal_path(@journal), class: 'btn' %>
</div>
<div class="journal_show">
  <div class="journal_show__content">
    <%= @journal.content %>
  </div>
  <div class="journal_show__date">
    <%= @journal.entry_date %>
  </div>
  <div style="journal_show_moods">
    <%# if @journal.mood_option %>
      <div>
        <%= @journal.mood_option.labels.join(", ") %>
      </div>
      <div>
        <%# ( @journal.mood_option.colors || [] ).each do |color| %> <!-- nilの場合空配列を使う -->
          <div>
            <!-- <span style="background-color: <%#= color %>; width: 30px; height: 30px; display: inline-block; margin-right: 5px;"></span> -->
            <%#= color %> <!-- 色コードを表示 -->
          </div>
        <%# end %>
      </div>
    <%# end %>
  </div>
<!-- <p>
  <strong>気分:</strong>
  <% if @mood_option&.average_color %>
    <span style="background-color: <%= @mood_option.average_color %>; width: 20px; height: 20px; display: inline-block;"></span>
    <%= @mood_option.average_color %>
  <% else %>
    気分データがありません
  <% end %>
</p> -->
</div>