<!-- ジャーナル詳細 -->
<div class="journal_show__btn">
  <%= link_to '＜ 戻る', root_path, class: 'btn' %>
  <%= link_to '編集 ＞', edit_journal_path(@journal), class: 'btn' %>
</div>
<div class="journal_show">
  <div class="journal_show__content">
    <%= @journal.content %>
  </div>
  <div class="journal_show__date">
    <%= @journal.entry_date %>
  </div>
    <% if @journal.mood_option %>
    <div style="journal_show_moods">
      <%= @journal.mood_option.labels.join(", ") %>
      <% @journal.mood_option.colors.join %>
    </div>
    <% end %>
<!-- <p>
  <strong>気分:</strong>
  <% if @mood_option&.average_color %>
    <span style="background-color: <%= @mood_option.average_color %>; width: 20px; height: 20px; display: inline-block;"></span>
    <%= @mood_option.average_color %>
  <% else %>
    気分データがありません
  <% end %>
</p> -->
</div>