<!-- ジャーナル詳細 -->
<p> <%= @journal.content %></p>
<p> <%= @journal.entry_date %></p>
    <% if @journal.mood_option %>
    <div style="display: flex;">
      <p><%= @journal.mood_option.labels.join(", ") %></p>
      <p><% @journal.mood_option.colors.join %></P>
    </div>
    <% end %>
<!-- <p>
  <strong>気分:</strong>
  <% if @mood_option&.average_color %>
    <span style="background-color: <%= @mood_option.average_color %>; width: 20px; height: 20px; display: inline-block;"></span>
    <%= @mood_option.average_color %>
  <% else %>
    気分データがありません
  <% end %>
</p> -->

<%= link_to '編集', edit_journal_path(@journal), class: 'btn btn-primary' %>
<%= link_to '一覧に戻る', journals_path, class: 'btn btn-secondary' %>